.info
{
    padding-left: 50px;
    display: flex;
    gap: 40px;
    height: 30PX;
    font-size: large;
    padding-right: 200PX;
    justify-content: right;
    color: white;
    background-color: rgb(38, 107, 130);
}
.image
{
    padding-top: 30PX;
    background-image: url(images/burnished-hard-chrome-plated-rod-500x500.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400PX;
}
.image p 
{
    color: white;
    text-align: center;
    padding-top: 100PX;
    font-size: 60PX;
}
.navabar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 10PX;
}

.navabar a:hover{
    text-decoration: underline !important;
    color: orange;
}

.navabar ul {
    display: flex;
    list-style: none;
    padding-right: 50px;
    justify-content: space-between;
    gap: 30PX;
    text-decoration: none;
}

.navabar a {

    text-transform: capitalize;
    font-size: 18px;

}


.navabar img {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-right: 20PX;
    padding-left: 50PX;
}

.navabar button {
    background-color: rgb(38, 107, 130);
    color: white;
    font-size: 15PX;
}

.navabar button:hover {
    background-color: yellow;
    color: white;
}
.Cf
{
    display: flex;
    justify-content: space-between;
    padding-top: 40PX;
}
.cf
{
    text-align: left;
    padding-left: 40PX;
}
.map
{
    text-align: right;
    padding-right: 40PX;
}
.C1
{
    display: flex;
    font-size: x-large;
    color: white;
    gap: 22PX;
}
.C1 a
{
    color: white;
    text-decoration: none;
}
.C2
{
    display: flex;
    color: white;
    font-size: x-large;
    gap: 22PX;
}
.C2 a
{
    text-decoration: none;
    color: white;
}
.Md
{
    background-color: rgb(240, 186, 78);
    gap: 20PX;
    margin-top: 30PX;
    padding-left: 20PX;
    padding-right: 30PX;
   padding-bottom: 80PX;
    height: 300PX;
    width: 400PX;
    justify-content: center;
}
.imd:hover
{
    background-color: black;
}
.Sd
{
    background-color: rgb(62, 74, 131);
    gap: 20PX;
    height: 300PX;
    width: 400PX;
    padding-left: 30PX;
    padding-right: 30PX;
   padding-bottom: 80PX;
   margin-top: 30PX;
   justify-content: center;
}
.Pd
{
    background-color: rgb(240, 186, 78);
    gap: 20PX;
    height: 300PX;
    width: 400PX;
    padding-left: 30PX;
    padding-right: 10PX;
   padding-bottom: 80PX;
   margin-top: 30PX;
   justify-content: center;
}
.Qd
{
    background-color: rgb(62, 74, 131);
    gap: 20PX;
    height: 300PX;
    width: 400PX;
    padding-left: 30PX;
    padding-right: 35PX;
   padding-bottom: 80PX;
   margin-top: 30PX;
   justify-content: center;
}
.Gi
{
    background-color: rgb(240, 186, 78);
    gap: 20PX;
    height: 300PX;
    width: 410PX;
    padding-left: 30PX;
    padding-right: 37PX;
   padding-bottom: 80PX;
   margin-top: 30PX;
   justify-content: center;
}
    
.A
{
    background-color: rgb(62, 74, 131);
    gap: 20PX;
    height: 300PX;
    width: 400PX;
    padding-left: 30PX;
    padding-right: 30PX;
   padding-bottom: 80PX;
   margin-top: 30PX;
   justify-content: center;
}
.Footer
{
    display: flex;
    gap: 520PX;
    background-color: rgb(38, 107, 130);
    margin-top: 100PX;
    height: 60PX;
}