.info
{
    padding-left: 50px;
    display: flex;
    gap: 40px;
    height: 30PX;
    font-size: large;
    padding-right: 200PX;
    justify-content: right;
    color: white;
    background-color: rgb(38, 107, 130);
}
.home
{
    background-image: url(images/galleryimg15-640x480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600PX;
}
.home h3
{
    text-align: center;
    color: white;
    padding-top: 250PX;
    font-size: x-large;
}
.home h1
{
    text-align: center;
    color: white;
    font-size: 80PX;
}
.home button
{
    text-align: center;
}
.navabar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 10PX;
}

.navabar a:hover{
    text-decoration: underline !important;
    color: orange;
}

.navabar ul {
    display: flex;
    list-style: none;
    padding-right: 50px;
    justify-content: space-between;
    gap: 30PX;
    text-decoration: none;
}

.navabar a {

    text-transform: capitalize;
    font-size: 18px;

}
.navabar img {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-right: 20PX;
    padding-left: 50PX;
}

.navabar button {
    background-color: rgb(38, 107, 130);
    color: white;
    font-size: 15PX;
}

.navabar button:hover {
    background-color: yellow;
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20PX;
   
}
.choose
{
    background-color: skyblue;
    padding-right: 30PX;
    padding-left: 30PX;
    padding-top: 20PX;
    padding-bottom: 20PX;
    color: white;
}
.choose img
{
    width: 100PX;
    height: 100PX;
}
.h1
{
    display: flex;
    gap: 40px;
    color: white;
    justify-content: center;
}
.company
{
    display: flex;
    gap: 10px;
    padding: 70PX;
    font-size: x-large;
    background-color: cornsilk;
    margin: 20PX;
}
.Cpara h1
{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.Cpara p
{
    display: flex;
    gap: 10px;
    justify-content: left;
}
.Cimg
{
    display: flex;
    gap: 10px;
    justify-content: right;
}
.pro
{
    font-size: x-large;
    text-align: center;
}
.Quality
{
    display: flex;
    gap: 20px;
    padding: 70PX;
    font-size: large;
    background-color: cornsilk;
    margin: 20PX;
}
.Qimg
{
    display: flex;
    gap: 10px;
    justify-content: left;
    padding: 40PX;
    
}
.Quality h1
{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20PX;
}
.Quality p
{
    display: flex;
    gap: 10px;
    justify-content: right;
    font-size: larger;
}

.Qpolicy h1
{
    display: flex;
    gap: 10px;
    justify-content: left;
    padding-left: 60PX;
    padding-bottom: 30PX;
    
}
.Qpolicy p
{
    display: flex;
    gap: 10px;
    justify-content: left;
    font-size: large;
    padding-left: 60PX;
    line-height: 30PX;
    word-spacing: 3PX;
}

.help {
    font-size: xx-large;

}

.help input {
    background-color: rgb(180, 180, 235);
}

.help textarea {
    background-color: rgb(180, 180, 235);
}

.help div:hover {
    background-color: yellow;
    color: white;
}
.footer
{
background-color: rgb(214, 216, 227);
display: flex;
height: 350PX;
}
.footer img
{
    width : "200PX" ;
    height : "50PX" ;
    background-color: rgb(214, 216, 227);
}

.f1 p
{
    display: flex;
    gap: 10px;
    justify-content: left;
    font-size: large;
    padding-left: 60PX;
    line-height: 30PX;
}
.f1 img
{
   height: 50PX; 
   width: 200PX;
   
}
.link img
{
    height: 40PX;
    width: 40PX;
    border-radius: 50%
}
.f2 
{
    padding-right: 50px;
    display: flex;
    gap: 10px;
    font-size: large;
   justify-content: center;
    line-height: 30PX;
}
.f2 ul
{
   
    list-style: none;
    text-align: justify;
}


.f3
{
   text-align: center;
   line-height: 30PX;
}
.f3 button
{
    background-color: rgb(38, 107, 130);
    color: white;
}
.Footer
{
    display: flex;
    gap: 520PX;
    background-color: rgb(38, 107, 130);
    margin-top: 0PX;
    height: 60PX;
}